redis:
  image: redis
  ports:
    - "6379:6379"

service:
  build: ci-service
  # Remove "volumes" section when you deploy this
  # to the production server.
  volumes:
    - ci-service:/api
  links:
    - redis
  ports:
    - "80:5000"